{{> head }}

{{> navbar }}

    <div class="row">

        <div class="col-8">
            <H1>Test</H1>
            <p>
                test tstom te
            </p>
        </div>

        <div class="col-">
            <img src="/assets/img/bear-icon.png" class="img-thumbnail">
        </div>

    </div>
{{> footer }}

